<form id="addUserForm" action="#" th:fragment="addUserForm" style="display: none;">

    <div class="form-group">
        <label for="firstName">First Name</label>
        <input class="form-control" type="text"
               id="firstName" name="firstName" placeholder="First Name"/>
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input class="form-control" type="text"
               id="lastName" name="lastName" placeholder="Last Name"/>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text"
               id="email" name="email" placeholder="Email"/>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="text"
               id="password" name="password" placeholder="Password"/>
    </div>

    <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control" id="role" name="role"></select>
    </div>
</form>