<table class="table table-striped" th:fragment="userTable" style="display: none;">
    <thead>
    <tr>
        <th class="text-center border-0" scope="row">Id</th>
        <td class="border-0" id="id"></td>

        <th class="text-center border-0" scope="row">First Name</th>
        <td class="border-0" id="firstName"></td>

        <th class="text-center border-0" scope="row">Last Name</th>
        <td class="border-0" id="lastName"></td>

        <th class="text-center border-0" scope="row">Email</th>
        <td class="border-0" id="email"></td>

        <th class="text-center border-0" scope="row">Role</th>
        <td class="border-0" id="role"></td>
    </tr>
    </thead>
</table>